# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
env/
venv/

# Node
cardio-frontend/node_modules/
cardio-frontend/npm-debug.log*

# Jupyter Checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
